  /*Formatting page, zero margin for body*/
  body {
    margin: 0;
    background-color:  #000000;
    overflow: hidden;
}

/* Header */
.header {
  top: 0px;
  bottom: 0px;
}

/*Navigation bar*/
.navbar {
  margin:0 auto;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar a {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  background-color: #2b2b2b;
  padding: 14px 5px;
  text-align: center;
  text-decoration: none;
  color: white;
  flex: 1;
  letter-spacing: 1px;
}
/*Adds styling to active link and link that is currently being hovered*/
.navbar a:hover {
  background-color: #626269;
  color: #e8eeef;

}
.navbar .active {
  background-color: #626269;
}

/* Content container */
.content {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
  align-items: center;
}

h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: normal;
  font-size: 25px;
  align-items: center;
  text-transform: uppercase;
  color: #ffffff;
}

h2 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 25px;
  font-weight: normal;
  padding-top: 15px;
  text-transform: uppercase;
  color: #316fe4;
}

p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  color: #ffffff;
}

iframe{
  height: 1080px;
  width: 100%;
  border: none;
}

/*Design formatting of Teams section*/
.teamcontainer {
  padding: 40px;
  text-align: center;
  font-size: 18px;
}

/*Spatial formatting of teams container, brings background down to bottom of page*/
.teamrow {
  content: "";
  display: table;
  clear: both;
}

/*Lines up Team pics and bios horizontally on page*/
.teammember {
  display: block;
  padding: 20px;
  width: 100%;
  float: left;
  }

/*Change width of team pics and bios depending on the size of the screen, responsive design*/
@media(min-width:800px){
  .teammember{width:30%;}
}

/*Styling team photos with circle frame*/
.circle {
  border-radius: 50%
}

/* Used for centering all content within sections*/
.center {
  align-items: center!important;
}