  /*Formatting page, zero margin for body*/
  body {
    margin: 0;
    height: 100%;
    background-color:  #000000;
}

/* Header */
.header {
  top: 0px;
  bottom: 0px;
}

/*Navigation bar*/
.navbar {
  margin:0;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar a, .navbar div {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  background-color: #2b2b2b;
  padding: 14px 5px;
  text-align: center;
  text-decoration: none;
  color: white;
  flex: 1;
  letter-spacing: 1px;
}

/*Adds styling to active link and link that is currently being hovered*/
.navbar a:hover, .dropdown:hover .dropButton {
  background-color: #3183b9;
  color: #e8eeef;
}
.navbar div {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  background-color: #2b2b2b;
  padding: 14px 5px;
  text-align: center;
  text-decoration: none;
  color: white;
  flex: 1;
  letter-spacing: 1px;
}
.navbar div:hover {
  background-color: #3183b9;
  color: #e8eeef;
}
.navbar button {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  background-color: #2b2b2b;
  
  text-align: center;
  text-decoration: none;
  color: white;
  flex: 1;
  letter-spacing: 1px;
}
.navbar button:hover{
  background-color: #3183b9;
  color: #e8eeef;
}

.navbar .active {
  background-color: #3183b9;
}

.dropButton {
  flex:1;
}


.dropdown {

  flex:1;
}

.dropdown .dropButton {
  overflow:hidden;
  flex-grow:1;
}


.dropContent {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropContent a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropContent a:hover {
  background-color: #3183b9;
}

.dropdown:hover .dropContent {
  display: block;
}

/* Content container */
.content {
  padding-left: 15%;
  padding-right: 15%;
}

/* changes colour of links before and after being clicked */
a:link {
  color: #3183b9
}

h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: normal;
  font-size: 25px;
  align-items: center;
  text-transform: uppercase;
  color: #ffffff;
}

h2 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
  font-weight: normal;
  padding-top: 40px;
  text-transform: uppercase;
  color: #3183b9;
}

p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  color: #ffffff;
}


iframe {
  height: 1080px;
  width: 100%;
  border: none;
}

/*Design formatting of Teams section*/
.teamcontainer {
  padding: 40px;
  display:flex;
  text-align: center;
  margin-right: 10%;
  margin-left: 10%;
  font-size: 18px;
}

/*Spatial formatting of teams container, brings background down to bottom of page*/
.teamrow {
  content: "";
  display: table;
  clear: both;
}

/*Lines up Team pics and bios horizontally on page*/
.teammember {
  /*display: block;
  padding: 20px;
  width: 100%;
  padding-left: 50px;
  float: left; */
  margin:auto;
  }

/*Change width of divs based on screen size, responsive design*/
@media(min-width:800px){
  .teammember{width:30%;}
}

/*Styling team photos with circle frame*/
.circle {
  border-radius: 50%
}

/* Used for centering content*/
.center {
  align-items: center!important;
}

.floatright {
  float: right;
  padding-top: 30px;
  padding-right: 300px;
}

.button {
  color: #3183b9;
}
